* { margin : 0px; padding : 0px; font-family: 'Poor Story', cursive; }
@keyframes text_move{
	to { transform: translateY(20px); }
	from { transform: translateY(-20px); }
}
html, body{
	width : 100%;
	height : 100%;
	background : url(../img/bg.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.main_logo{
	width : 100%;
	max-width: 800px;
	height : 600px;
	background : url(../img/main.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	z-index : 300;
	cursor: pointer;
}
header{
	width : 100%;
	height : 200px;
	max-width: 700px;
	margin: auto;
	display: flex;
	align-items: center;
	position : relative;
	p{
		width : 100px;
		height : 60px;
		float: left;
		text-align: center;
		line-height: 60px;
		font-size: 2rem;
		background-color: transparent;
		color : white;
		transition : 0.6s;
		border-radius: 30px;
	}
	p:first-child{
		border: 10px solid #c0392b;
		animation : text_move 2s 0.1s infinite;		
	}
	p:nth-child(2){
		border: 10px solid #e67e22;
		animation : text_move 2s 0.2s infinite;			
	}
	p:nth-child(3){
		border: 10px solid #f1c40f;
		animation : text_move 2s 0.3s infinite;			
	}
	p:nth-child(4){
		border: 10px solid #2ecc71;
		animation : text_move 2s 0.4s infinite;			
	}
	p:nth-child(5){
		border: 10px solid #2980b9;
		animation : text_move 2s 0.5s infinite;			
	}
	p:nth-child(6){
		border: 10px solid #34495e;
		animation : text_move 2s 0.6s infinite;			
	}				
	p:last-child{
		border: 10px solid #8e44ad;
		animation : text_move 2s 0.7s infinite;			
	}
}
.main_box{
	width : 100%;
	height : 80%;
	display: flex;
	div{
		display: none;
	}
	.balloon_1, .balloon_14{
		width : 150px;
		height : 309px;
		background : url(../img/balloon1.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 10;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}
	}
	.balloon_2, .balloon_13{
		width : 150px;
		height : 309px;
		background : url(../img/balloon2.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 15;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}
	.balloon_3, .balloon_12{
		width : 150px;
		height : 309px;
		background : url(../img/balloon3.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 20;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}
	.balloon_4, .balloon_11{
		width : 150px;
		height : 309px;
		background : url(../img/balloon4.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 25;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}
	.balloon_5, .balloon_10{
		width : 150px;
		height : 309px;
		background : url(../img/balloon5.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 30;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}
	.balloon_6, .balloon_9{
		width : 150px;
		height : 309px;
		background : url(../img/balloon6.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 35;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}
	.balloon_7, .balloon_8{
		width : 150px;
		height : 309px;
		background : url(../img/balloon7.png) center center no-repeat;
		background-size: contain;
		position : absolute;
		z-index : 40;
		cursor: pointer;
		p{
			width : 150px;
			height : 200px;
			text-align: center;
			line-height: 150px;
			font-size: 4rem;
			visibility: hidden;
		}		
	}				
}
.input_box{
	width : 300px;
	height : 332px;
	background : url(../img/input.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	top : 50%;
	margin-top : -150px;
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-content: center;
	visibility: hidden;
	z-index: 500;
	h2{
		width : 100%;
		height : 50px;
		float: left;
		font-size: 50px;
		color : white;
		text-align: center;
		line-height: 50px;
		margin-top : 60px;
		cursor: pointer;
	}
}